<h1>Links</h1>

  <%= form_for @link do |f| %>
    <% if current_user %>
      <%= f.hidden_field :user_id, value: current_user.id %>
    <% end %>
    <%= f.label :url %>
    <%= f.text_field :url %>

    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.submit "Add Link" %>
  <% end %>

  <% if current_user %>
  <% @links.each do |link| %>
    <div class="link_info" id='link_<%= link.id %>'>
      Url: <%= link.url %>
      <br>
      Title: <%= link.title %>
      <br>
      Read: <%= link.read_status %>
      <br>
      <br>
    </div>
  <% end %>
<% end %>